html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0e0e;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(#e8546d, #a465ce);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-card {
  background: linear-gradient(
    90deg,
    rgb(232, 84, 109) 14.42%,
    rgb(164, 101, 206) 100%
  );
}

.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  background-color: #0f0e0e;
  width: 100%;
  min-height: 100vh;
}

.show-menu {
  right: 0;
}
