html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0e0e;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(#e8546d, #a465ce);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-card {
  background: linear-gradient(
    90deg,
    rgb(232, 84, 109) 14.42%,
    rgb(164, 101, 206) 100%
  );
}

.gradient-box {
  background: linear-gradient(
    90deg,
    rgb(232, 84, 109) 0%,
    rgb(164, 101, 206) 100%
  );
  border: 0;
}

/* Active link */
.active-link {
  position: relative;
  transition: 0.3s;
}

.active-link::before {
  content: "";
  position: absolute;
  background-color: #e8546d;
  width: 100%;
  height: 3px;
  bottom: -0.75rem;
  left: 0;
}

.button {
  display: inline-block;
  line-height: 100%;
  position: relative;
  text-decoration: none;
  z-index: 0;
  -webkit-transition: border-color 0.35s ease, background 0.35s ease;
  transition: border-color 0.35s ease, background 0.35s ease;
}

.button:before {
  background-color: #e8546d;
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.button:hover:before {
  top: 0;
}

.button:hover {
  transition: 0.25s;
}

.button:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(50%);
  -ms-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    max-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #0f0e0e;
    transition: 0.3s;
    overflow-y: auto;
  }
}

.show-menu {
  right: 0;
}
